input.form-control {
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    background-image: url('/assets/pink.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 94.6svh;
    height: 94.6svh;
}

main h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

main h3 {
    font-size: 2rem;
    line-height: 3rem;
}

main a.btn {
    margin: 5vh auto 0;
    font-size: 1.7rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    main h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    main h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    main a.btn {
        margin: 3vh auto 0;
        font-size: 1.5rem;
    }
}

.justified-gallery {
    display: flex;
    flex-wrap: wrap;
    // margin: 0.25rem;
}

.gallery-item {
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0.25rem;
    flex-grow: 1;
}
.gallery-item img {
    display: block;
    max-width: 100%; 
    max-height: 400px; 
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .footer {
    opacity: 1;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ff006f93;
}